name: Update Docker Hub Description
on:
  push:
    branches:
    - stable

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

# disable permissions for all of the available permissions
permissions: {}

jobs:
  dockerHubDescription:
    name: "Update Docker Hub Description"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: freqtradeorg/freqtrade
